svg {
  background: #eee;
}
body {
  padding: 0;
  margin: 0;
}

/* DEBUG */
.grid {
  stroke: black;
  stroke-width: 0.3;
  stroke-dasharray: 1 1;
}
.debugBox {
  fill: blue;
}
.debugCircle {
  fill: none;
  stroke: #000;
  stroke-width: 0.5;
}
