.pipette_top,
.pipette_body {
  fill: #004d00;
}
.pipette_unloader {
  fill: #001c00;
  transition: transform 0.2s;
}

.active_pipette_unloader {
  transform: translate(0, 1.1px);
}

.pipette_piston,
.pipette_tipholder {
  fill: #555555;
}

.pipette_plunger {
  transition: transform 0.7s ease;
}
.pipette_plunger:active {
  transform: translate(0, 4px);
}

.yellow_tip {
  fill: #88880055;
}
